{"http_interactions":[{"request":{"method":"post","uri":"https://api.twitter.com/1.1/statuses/update.json","body":{"encoding":"UTF-8","string":"status=Tweeting+from+my+twitter+clone%3A+https%3A%2F%2Fdrew-twitter-clone.herokuapp.com"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 19:26:29 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["6a8b2cc9a9eb9646003bbf53f884c5df"], "X-Response-Time":["196"], "X-Transaction":["e0d404056ccc2043"], "X-Tsa-Request-Body-Time":["0"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"{\"created_at\":\"Thu Jul 23 19:26:29 +0000 2015\",\"id\":624299564955213824,\"id_str\":\"624299564955213824\",\"text\":\"Tweeting from my twitter clone: https:\\/\\/t.co\\/GHqSmpQc0k\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\/\\\" rel=\\\"nofollow\\\"\\u003eDR Twitter Clone\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":367814457,\"id_str\":\"367814457\",\"name\":\"Drew Reynolds\",\"screen_name\":\"NYDrewReynolds\",\"location\":\"Denver, CO\",\"description\":\"Learning Ruby on Rails @TuringSchool | Previous: Community Manager @Planted (@TechStars '14) | @StartupWeekend @NYCSW |  @TechAtNYU | @TechBrunchNYC\",\"url\":\"http:\\/\\/t.co\\/HJG5oMocki\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/HJG5oMocki\",\"expanded_url\":\"http:\\/\\/bit.ly\\/DrewLinkedIn\",\"display_url\":\"bit.ly\\/DrewLinkedIn\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":668,\"friends_count\":1378,\"listed_count\":84,\"created_at\":\"Sun Sep 04 16:22:59 +0000 2011\",\"favourites_count\":1058,\"utc_offset\":-14400,\"time_zone\":\"Eastern Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":4376,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"022330\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme15\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme15\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/621039554439458816\\/bvc-icCb_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/621039554439458816\\/bvc-icCb_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/367814457\\/1418016509\",\"profile_link_color\":\"DD2E44\",\"profile_sidebar_border_color\":\"FFFFFF\",\"profile_sidebar_fill_color\":\"C0DFEC\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":false,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[{\"url\":\"https:\\/\\/t.co\\/GHqSmpQc0k\",\"expanded_url\":\"https:\\/\\/drew-twitter-clone.herokuapp.com\",\"display_url\":\"drew-twitter-clone.herokuapp.com\",\"indices\":[32,55]}]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"lang\":\"en\"}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 19:26:32 GMT"}],"recorded_with":"VCR 2.9.3"}