{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/account/verify_credentials.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 19:13:54 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["95182d8d556fd83f67a7fd96a6e21e6f"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["12"], "X-Rate-Limit-Reset":["1437679415"], "X-Response-Time":["127"], "X-Transaction":["8ebb0e306ffbe257"], "X-Twitter-Response-Tags":["BouncerCompliant","BouncerExempt"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":367814457,\"id_str\":\"367814457\",\"name\":\"Drew Reynolds\",\"screen_name\":\"NYDrewReynolds\",\"location\":\"Denver, CO\",\"description\":\"Learning Ruby on Rails @TuringSchool | Previous: Community Manager @Planted (@TechStars '14) | @StartupWeekend @NYCSW |  @TechAtNYU | @TechBrunchNYC\",\"url\":\"http:\\/\\/t.co\\/HJG5oMocki\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/HJG5oMocki\",\"expanded_url\":\"http:\\/\\/bit.ly\\/DrewLinkedIn\",\"display_url\":\"bit.ly\\/DrewLinkedIn\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":668,\"friends_count\":1378,\"listed_count\":84,\"created_at\":\"Sun Sep 04 16:22:59 +0000 2011\",\"favourites_count\":1058,\"utc_offset\":-14400,\"time_zone\":\"Eastern Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":4375,\"lang\":\"en\",\"status\":{\"created_at\":\"Thu Jul 23 15:20:11 +0000 2015\",\"id\":624237580456984578,\"id_str\":\"624237580456984578\",\"text\":\"Ruby\\u2019s case statement \\u2013 advanced techniques http:\\/\\/t.co\\/YYXckt4pEa\",\"source\":\"\\u003ca href=\\\"http:\\/\\/bufferapp.com\\\" rel=\\\"nofollow\\\"\\u003eBuffer\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[{\"url\":\"http:\\/\\/t.co\\/YYXckt4pEa\",\"expanded_url\":\"http:\\/\\/buff.ly\\/1HJd6qX\",\"display_url\":\"buff.ly\\/1HJd6qX\",\"indices\":[44,66]}]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"lang\":\"en\"},\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"022330\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme15\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme15\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/621039554439458816\\/bvc-icCb_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/621039554439458816\\/bvc-icCb_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/367814457\\/1418016509\",\"profile_link_color\":\"DD2E44\",\"profile_sidebar_border_color\":\"FFFFFF\",\"profile_sidebar_fill_color\":\"C0DFEC\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":false,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 19:13:57 GMT"},{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 19:13:54 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["e941d71f2abb219378cdc0e97c4f1e79"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["12"], "X-Rate-Limit-Reset":["1437679415"], "X-Response-Time":["139"], "X-Transaction":["54c1b3a3be8884c0"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"created_at\":\"Thu Jul 23 19:13:49 +0000 2015\",\"id\":624296376973815808,\"id_str\":\"624296376973815808\",\"text\":\"Happy Hot Dog Day! https:\\/\\/t.co\\/5g7HYS6iee\",\"source\":\"\\u003ca href=\\\"http:\\/\\/www.hootsuite.com\\\" rel=\\\"nofollow\\\"\\u003eHootsuite\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":586671909,\"id_str\":\"586671909\",\"name\":\"Vine\",\"screen_name\":\"vine\",\"location\":\"\",\"description\":\"The best way to create and share short, looping videos. Free for iPhone, Android and Windows Phone. For support, tweet @vinehelp.\",\"url\":\"http:\\/\\/t.co\\/HLAhG6mqQx\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/HLAhG6mqQx\",\"expanded_url\":\"http:\\/\\/vine.co\",\"display_url\":\"vine.co\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protect[...]
