<!--<div class="container-fluid container-home">-->
  <!--<div class="col-md-2"></div>-->
  <!--<div class="col-md-8">-->
    <!--<h1 class="home">Welcome to Twitter</h1>-->
    <!--<br>-->
    <!--<h2 class="home">See what’s happening right now.</h2>-->
    <!--<%#= link_to "Login with Twitter", login_path, class: "btn btn-lg btn-default btn-home" %>-->
  <!--</div>-->
  <!--<div class="col-md-2"></div>-->
<!--</div>-->


<div class="StreamsHero">
  <div class="StreamsHero-image" style="background-image: url(https://abs.twimg.com/a/1437342192/img/t1/lohp_streams_header_bg_v4.png); background-size: 100% 100%;"></div>
  <div class="StreamsHero-content">
    <span class="Icon Icon--bird"></span>

    <h2 class="StreamsHero-header">See what’s happening right now.</h2>

    <p class="StreamsHero-blurb">Find community, conversation and inspiration about the things you love.</p>
    <br>
    <%#= link_to "Login with Twitter", login_path, class: "btn btn-lg btn-default btn-home" %>
    <%= link_to "Login with Twitter", login_path, class: "submit btn primary-btn btn-lg" %>
  </div>
  <!--<div class="StreamsHero-buttonContainer">-->
    <!--<%#= link_to "Login with Twitter", login_path, class: "btn btn-lg btn-default btn-home" %>-->
  <!--</div>-->
</div>
